{% load static from staticfiles %}
{% load course_extras %}

<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <head>
        <meta charset="utf-8">
        <title>Dillon's Minerals - They are Geographic!</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,500' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Cousine' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/layout.css">
        </head>
        <link rel="stylesheet" href="{% static 'css/layout.css' %}">
        {% block static %}{% endblock %}
    </head>
    <body>
    <div class="grid-100">

    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        {% nav_group_list chosen_group %}
    </div>
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Groups</span>


        <div id="mySidenavRight" class="sidenavRight">
      <a href="javascript:void(0)" class="closebtnRight" onclick="closeNavRight()">&times;</a>
        {% nav_color_list chosen_color %}
    </div>
    <span style="font-size:30px;cursor:pointer" onclick="openNavRight()">&#9776; Color</span>


    <table style="width: 100%;">
        <tr>
        <td>
            <div id="container">
                {% nav_courses_list chosen_letter %}
            </div>
        </td>
        <td><a href="{% url 'courses:list' %}">All Minerals</a></td>
        <td><form action="{%url 'courses:search' %}" method="GET">
            <input type="search" name="q"><button type="submit" class="secondary small button">Search</button>
        </form></td>
    </table>

 <h1 class="logo__name text-centered">Dillon's Minerals</h1>

            {% block content %}{% endblock %}          
        </div>
         <div class="minerals__random">
              <a class="minerals__anchor" href="{% url 'courses:detail' pk=rand %}">Show random mineral</a>
            </div>

    <script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}

function openNavRight() {
  document.getElementById("mySidenavRight").style.width = "250px";
}

function closeNavRight() {
  document.getElementById("mySidenavRight").style.width = "0";
}
</script>
</html>